[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
luigi = "*"
pandas = "*"
scikit-learn = "*"
vertica-python = "*"
dask = {extras = ["distributed"], version = "*"}
joblib = "*"
nltk = "*"
sphinx = "*"
pyldavis = "*"
sphinx-rtd-theme = "*"
canvasapi = "*"
gitpython = "*"
environs = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
